.home-hero {
    float: left;
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
    line-height: normal;
    margin-top: 20px;
}



.header-nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;       
    text-decoration: none;
    /* float: right; */
    text-align: right;
    margin-top: 20px;
}

nav li {
    display: block;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: white;
    padding-left: 30px;    
}



.header-decoration {
    text-decoration: none; 
    color: white;
}

.header-decoration:hover {
    text-decoration: none;
}