main {
    background-color: #43a047; 
    overflow: hidden;
     padding-top: 80px;
     min-height: 100%;
     /* padding-bottom: 400px;  */
     color: white;
     /* height: 100%; */
}

body {
    background-color: #43a047;
}

