.footer {
    position: fixed;
/* figure out overflow in this situation  */

    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #3273dc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    /* padding-top: -10px; */
    padding-bottom: 10px;
}

strong {
    color: #3273dc;
}